.CardsList {
  padding-bottom: 40px;
}
.CardsList-title {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 24px;
}
.CardsList-content {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -10px 0;
}
.CardsList .Card {
  width: 230px;
  margin: 10px;
}
.CardsList-separator {
  height: 0;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px dotted #D2D2D2;
}
