.Header {
  position: relative;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(205, 205, 205, 0.2);
  font-size: 14px;
}
.Header-underline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
}
.Header-in {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  height: 48px;
}
.Header-activeOverlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.Header-logo {
  position: relative;
  flex-grow: 0;
  margin: 0;
  padding: 0 20px 0 30px;
  outline: 0;
}
.Header-logo:focus .Header-activeOverlay,
.Header-logo:active .Header-activeOverlay {
  background: rgba(0,0,0,0.05);
}
.Header-logo img {
  display: block;
  max-height: 100%;
}
.Header-nav ul {
  display: flex;
  height: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid #E3E3E3;
}
.Header-nav li {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 0;
  padding: 0 14px;
  border-right: 1px solid #E3E3E3;
  outline: 0;
}
.Header-nav img {
  height: 20px;
  margin-right: 10px;
}
.Header-nav .Header-nav-currentLine {
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: 0;
  height: 3px;
  background: #E95420;
}
.Header-nav li:focus .Header-activeOverlay,
.Header-nav li:active .Header-activeOverlay {
  background: rgba(0,0,0,0.05);
}
.Header-back {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
  padding-right: 15px;
  padding-left: 30px;
  white-space: nowrap;
  outline: 0;
}
.Header-back span:first-child {
  margin-right: 15px;
}
.Header-back:focus .Header-activeOverlay,
.Header-back:active .Header-activeOverlay {
  background: rgba(0,0,0,0.05);
}
.Header-profile {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding-left: 15px;
  padding-right: 30px;
  white-space: nowrap;
  outline: 0;
}
.Header-profile img {
  margin-right: 15px;
}
.Header-profile:focus .Header-activeOverlay,
.Header-profile:active .Header-activeOverlay {
  background: rgba(0,0,0,0.05);
}
