.DeviceBanner {
  display: flex;
  align-items: center;
  padding: 40px 0;
}
.DeviceBanner-image {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.DeviceBanner-image img {
  max-width: 240px;
  max-height: 240px;
}
.DeviceBanner-name {
  font-size: 45px;
  line-height: 1.4em;
  margin-bottom: 10px;
}
.DeviceBanner-id {
  margin-bottom: 10px;
  font-size: 23px;
}
