.Loader {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
  transition: opacity 150ms ease-in-out;
  display: none;
}
.Loader-visible {
  display: flex;
}
.Loader-label {
  display: flex;
  align-items: center;
  font-size: 36px;
  margin-bottom: 20px;
}
.Loader img {
  margin-right: 20px;
}
.Loader-visible img {
  animation: Loader-spin 1.5s linear infinite;
}
@keyframes Loader-spin {
  100% {
    transform: rotate(360deg);
  }
}
