.Banner {
  display: flex;
  align-items: center;
  padding: 40px 0;
}
.Banner-image {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.Banner-primaryText {
  font-size: 45px;
  line-height: 1.4em;
  margin-bottom: 10px;
}
.Banner-secondaryText {
  margin-bottom: 10px;
  font-size: 35px;
}
