.Header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  position: relative;
  height: 50px;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(205, 205, 205, 0.2);
  font-size: 14px;
}
.Header:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #CDCDCD;
}
.Header-logo,
.Header-logo:focus:active {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 20px 0 30px;
  outline: 0;
}
.Header-logo:active {
  background: #F7F7F7;
}
.Header-logo:focus {
  position: relative;
  z-index: 2;
  margin: 2px 0 2px 2px;
  padding-left: 28px;
  outline: 2px solid #19B6EE;
}
.Header-logo img {
  display: block;
  max-height: 100%;
}
.Header-nav ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 1px solid #E3E3E3;
}
.Header-nav li,
.Header-nav li:focus:active {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  padding: 0 14px;
  border-right: 1px solid #E3E3E3;
  outline: 0;
}
.Header-nav img {
  height: 20px;
  margin-right: 10px;
}
.Header-nav li {
  position: relative;
}
.Header-nav li.current:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: #E95420;
}
.Header-nav li:active {
  background: #F7F7F7;
}
.Header-nav li:focus {
  height: calc(100% - 4px);
  margin-top: 2px;
  outline: 2px solid #19B6EE;
  border-color: transparent;
}
.Header-profile,
.Header-profile:focus:active {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  padding-left: 15px;
  padding-right: 30px;
  outline: 0;
}
.Header-profile img {
  margin-right: 15px;
}
.Header-profile:active {
  background: #F7F7F7;
}
.Header-profile:focus {
  position: relative;
  z-index: 2;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
  padding-right: 28px;
  outline: 2px solid #19B6EE;
}
