* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  overflow-y: scroll;
}
body, input, button {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  line-height: 1.7em;
  font-weight: 300;
}
h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
}
ul {
  list-style: none;
}
h1, strong {
  font-weight: 400;
}
[role=button] {
  user-select: none;
  cursor: pointer;
}
a[role=button] {
  text-decoration: underline;
}
