

.HistoryList {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: calc(308px + 122px);
}

.HistoryList h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.HistoryList ul {
  list-style: none;
}
.HistoryList li {
  display: flex;
  justify-content: space-between;
  line-height: 38px;
  border-bottom: 1px dotted #D2D2D2;
}
.HistoryList li div:first-child {
  color: #888888;
}
