.ServicePage-header {
  padding: 45px 0 40px;
}
.ServicePage-headerParts {
  display: flex;
  justify-content: space-between;
}
.ServicePage-buttonContainer {
  align-self: flex-end;
}
.ServicePage-button {
  margin-top: 15px;
}
.ServicePage-header > div {
  align-self: center;
}
.ServicePage-content {
  display: flex;
  padding-top: 25px;
}
.ServicePage-ServicePageAbout {
  margin: 40px 0;
}
.ServicePage-content > div + div {
  flex-shrink: 0;
  width: 308px;
  margin-left: 122px;
}
.ServicePage-purchase {
  margin-top: 60px;
}
