.ServicePageSummary {
  display: flex;
  margin-bottom: 40px;
}
.ServicePageSummary-icon {
  margin-right: 20px;
}
.ServicePageSummary-name {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2em;
}
.ServicePageSummary-author {
  margin: 5px 0;
  color: #888888;
}
