.Footer {
  padding: 20px 30px;
  font-size: 13px;
  border-top: 1px dotted #D2D2D2;
}
.Footer-in {
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
}
.Footer-logo {
  margin-left: 15px;
  margin-top: 10px;
}
.Footer-copyright {
  font-size: 12px;
}
