.App-main {
  position: relative;
  min-width: 1020px;
}
.App-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
.App-content {
  min-height: 100px;
  min-height: calc(100vh - 50px - 89px);
}
.App-SnapPage {
  padding-bottom: 50px;
}

@media (max-width: 1200px) {
  .App-header {
    position: static;
    padding-top: 5px;
    padding-bottom: 0px;
    
  }
}
