.Header {
  overflow: hidden;
  background: url(./Header/header-middle.png) repeat-x;
  background-size: auto 50px;
}
.Header .header-left {
  float: left;
}
.Header .header-right {
  float: right;
}
