.SearchField {
  position: relative;
  z-index: 2;
  height: 300px;
}
.SearchField-in {
  min-height: 300px;
  padding-top: 127px;
  background: #F7F7F7;
  transition: background 150ms ease-in-out;
}
.SearchField-filled .SearchField-in {
  background: #FFFFFF;
  box-shadow: 0 1px 5px 1px hsla(0, 0%, 20%, 0.2);
}
.SearchField-in2 {
  max-width: 1020px;
  margin: 0 auto;
}
.SearchField-title {
  margin-top: -50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: 300;
}
.SearchField-loader {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  padding-top: 20px;
  background: transparent;
  transition: background 150ms ease-in-out;
}
.SearchField-loader.visible {
  height: auto;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
}
.SearchField input[type=text] {
  display: block;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #888;
  font-size: 16px;
  padding: 16px;
  background:
    #FFF
    url(./SearchField/search-icon.png)
    no-repeat
    calc(100% - 10px) 50%;
  background-size: 24px 23px;
  outline: 0;
}
.SearchField input[type=text]:placeholder-shown {
  color: #CACACA;
}
.SearchField-results {
  position: relative;
  padding-bottom: 40px;
}
.SearchField-group-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #888;
  font-size: 14px;
}
.SearchField-group ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.SearchField-item {
  display: table;
  width: 100%;
  height: 61px;
  line-height: 61px;
  border-bottom: 1px dotted #D2D2D2;
}
.SearchField-item > div {
  display: table-cell;
  vertical-align: middle;
}
.SearchField-item .icon {
  width: 58px;
  vertical-align: middle;
  margin-right: 20px;
}
.SearchField-item img {
  display: block;
}
.SearchField-item .name {
  width: 180px;
}
.SearchField-item .author {
  width: 240px;
}
.SearchField-item .rating {
  width: 240px;
}
.SearchField-item .action {
  padding-right: 10px;
  text-align: right;
}
.SearchField-item .action a {
  text-decoration: underline;
  cursor: pointer;
}
.SearchField-tags {
  width: 60%;
  line-height: 36px;
  padding: 40px 0 0;
}
.SearchField-tags a {
  text-decoration: underline;
  cursor: pointer;
}
