.SnapPageSummary {
  display: flex;
  margin-bottom: 40px;
}
.SnapPageSummary-icon {
  margin-right: 20px;
}
.SnapPageSummary-name {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2em;
}
.SnapPageSummary-author {
  margin: 0;
  color: #888888;
}
