.SnapPageDetails ul {
  list-style: none;
}
.SnapPageDetails li {
  display: flex;
  justify-content: space-between;
  line-height: 38px;
  border-bottom: 1px dotted #D2D2D2;
}
.SnapPageDetails li div:first-child {
  color: #888888;
}
