.SnapPageInstallButton-price {
  text-align: right;
  margin-bottom: 10px;
}
.SnapPageInstallButton-progress {
  width: 308px;
}
.SnapPageInstallButton-progressLabel {
  margin-bottom: 10px;
  color: #666666;
}
