.SnapPageLogin-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.SnapPageLogin-title {
  font-size: 21px;
}
.SnapPageLogin-step {
  color: #666666;
  font-size: 21px;
  line-height: 1.7em;
}
.SnapPageLogin-form {
  display: flex;
  margin-bottom: 20px;
}
.SnapPageLogin-field {
  width: 50%;
  margin-left: 24px;
}
.SnapPageLogin-field:first-child {
  margin-left: 0;
}
.SnapPageLogin-field label {
  display: block;
  margin-bottom: 5px;
}
.SnapPageLogin-field input {
  width: 100%;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  color: rgba(51, 51, 51, 1);
  padding: 10px;
}
.SnapPageLogin-field input[disabled] {
  color: rgba(51, 51, 51, 0.3);
  background: #FFF;
}
.SnapPageLogin-footer {
  display: flex;
  justify-content: space-between;
}
.SnapPageLogin-link {
  display: flex;
  align-items: center;
}
.SnapPageLogin-validateGroup {
  display: flex;
  align-items: center;
}
.SnapPageLogin-validateGroup-cancel {
  margin-right: 20px;
}
