.Card {
  width: 230px;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
  font-size: 16px;
  color: #333;
  background: #FFF;
}
.Card-main {
  padding: 20px 10px;
}
.Card-icon {
  display: block;
  margin: 0 auto 15px;
}
.Card p {
  margin: 10px 0;
  line-height: 20px;
}
.Card-name {
  font-size: 18px;
  font-weight: bold;
}
.Card-author {
  color: #888;
}
.Card-rating {
  display: block;
  margin: 5px 0;
}
.Card-footer {
  position: relative;
  overflow: hidden;
  padding: 10px 15px;
}
.Card-footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background: #CDCDCD;
}
.Card-action {
  text-align: right;
  line-height: 1.7em;
  height: 1.7em;
}
