.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
  font-size: 16px;
  color: #333;
  background: #FFF;
}
.Card-positive {
  /* border-color: #3EB34F; */
}
.Card-main {
  padding: 20px 10px 15px;
}
.Card-content > div + div {
  height: 17px;
  line-height: 17px;
  margin: 5px 0;
}
.Card-content {
  display: flex;
  flex-direction: column;
}
.Card-alignBottom .Card-content {
  justify-content: flex-end;
}
.Card-icon {
  display: block;
  margin: 0 auto 15px;
}
.Card-name {
  font-size: 18px;
  font-weight: 400;
}
.Card-author {
  font-weight: 300;
  color: #888;
}
.Card-rating {
  display: block;
}
.Card-footer {
  position: relative;
  overflow: hidden;
  padding: 10px 15px;
}
.Card-footer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 1px;
  background: #CDCDCD;
}
.Card-footer-installing {
  padding: 10px 10px;
}
.Card-footer-installing:before {
  display: none;
}
.Card-footer-installProgress {
  margin-top: -10px;
  margin-bottom: 4px;
}
.Card-action {
  padding-right: 10px;
  text-align: right;
  line-height: 1.7em;
  height: 1.7em;
  font-size: 16px;
}
