.MyUbuntu-content {
  padding-top: 40px;
  padding-bottom: 40px;
  /* background: #FFF; */
}
.MyUbuntu-content-in {
  background: #FFF;
}
.MyUbuntuBlock {
  /* margin-bottom: 24px; */
  margin: 0 36px;
  padding: 30px 0;
  background: #FFF;
  border-bottom: 1px dotted #D2D2D2;
}
.MyUbuntuBlock-leftspace {
  padding-left: 68px;
}
.MyUbuntuBlock-smallpadding {
  padding-top: 10px;
  padding-bottom: 20px;
}
.MyUbuntuBlock-noborder {
  border: 0;
}
.MyUbuntuBlock h1 {
  font-size: 36px;
  margin-bottom: 26px;
}
.MyUbuntuBlock-list h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.MyUbuntuBlock-list ul {
  font-size: 21px;
  font-weight: 400;
  list-style: disc inside;
  line-height: 40px;
  margin-bottom: 20px;
}
.MyUbuntuBlock-app {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.MyUbuntuBlock-app-price {
  font-size: 22px;
}
.MyUbuntuBlock-app .SnapPageSummary {
  margin-bottom: 0;
}
.MyUbuntuBlock-app .SnapPageSummary-author {
  margin-top: 0;
}
.MyUbuntuBlock-app .SnapPageSummary-name {
  font-size: 36px;
  margin-bottom: 0;
}
.MyUbuntuBlock-title-check {
  font-size: 24px;
  margin-bottom: 20px;
  padding-left: 33px;
  margin-left: -33px;
  background: url(/check.svg) no-repeat 0 50%;
}
.MyUbuntuBlock-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.MyUbuntuBlock-row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
}
.MyUbuntuBlock-row div {
  margin-right: 5px;
}
.MyUbuntuBlock-row .p-large {
  line-height: 200%;
}
.MyUbuntuBlock-row .p-xlarge {
  line-height: 350%;
}
.PurchaseSummary-input {
  width: 100%;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  color: rgba(51, 51, 51, 1);
  padding: 10px;
}
.PurchaseSummary-input[disabled] {
  color: rgba(51, 51, 51, 0.3);
  background: #FFF;
}
